<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The biggest game ever</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>


<body class="text-center">
<div style="height:200px"></div>
<div>
    <h4 color="blue" id="event1"></h4>
</div>

<div>
    <h3 style="color:green" id="question"></h3>
</div>

<div style="height: 50px"></div>
<div>
    <div>
        <h4>What answer can lead to : </h4>
    </div>
     <div>
        <h4 id="event2"></h4>
    </div>
</div>

<div style="height: 50px"></div>
<button class="btn btn-primary" onclick="submit_event()">
    Submit
</button>

</body>
<script>

    get_random_events()
    var event1 = "";
    var event2 = "";
    var event3 = "";

    function get_random_events() {
        $.get("http://192.168.0.193:8080/get_question", function (data, textStatus, jQxhr) {
            console.log(data);
            event1 = data[0]
            event2 = data[1]
            event3 = data[2]
            var input1 = document.getElementById("event1");
            input1.innerText = "Given the following question about "+ event1["event"] + " (year " + event1["date"] + "):";
             var question = document.getElementById("question");
            question.innerText = event1["question"];

            var input2 = document.getElementById("event2");
            input2.innerText = event2["event"] + " (year " + event2["date"] + ")";
            var input3 = document.getElementById("event3");
            input3.innerText = event3["event"] + " (year " + event3["date"] + ")";

        });
    }

    function submit_event() {
        $.ajax({
            url: 'http://192.168.0.193:8080/submit_event',
            dataType: 'json',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify({
                "event": $('#input').val(), "date": $('#date').val(), "tag": "real",
                "event1": event1, "event2": event2
            }),
            processData: false,
            success: function (data, textStatus, jQxhr) {
                window.location = 'http://192.168.0.193:8080/';

            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
</script>
</html>