<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The biggest game ever</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>


<body class="text-center">
<div>
    <h4>Link a question</h4>
    <br>
    <div>
        <a>Question</a>
        <select id="dropdown-questions">
        </select>
    </div>

    <div>
        <a>Answers</a>
        <p>Good:</p>
        <p id="answerA"></p>
        <select name="lead_a">
            <option value="volvo">Volvo</option>
        </select>
        <br>
        <p>Bad:</p>
        <p id="answerB"></p>
        <select name="lead_b">
            <option value="volvo">Volvo</option>
        </select>
    </div>

    <br>
    <div>
        <button class="btn btn-primary" onclick="submit_link()">
            Submit
        </button>
    </div>
</div>
</body>

<script>
    get_related_events()

    function get_related_events() {
        $.get("http://192.168.0.193:8080/get_related_event", function (data, textStatus, jQxhr) {
            console.log(data);
            var dropdown_question = document.getElementById("dropdown-questions");
            for (i = 0; i < data.length; i++) {
                var question_text = data[i]["questions"][0]["text"];
                var option = document.createElement("option");
                option.setAttribute("value", "event-" + i + "-question-0");
                option.innerText = question_text;
                dropdown_question.appendChild(option)
            }
        })
    }


    function submit_link() {
        $.ajax({
            url: 'http://192.168.0.193:8080/submit_link',
            dataType: 'json',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify({
                "question_id": $('#theme').val(),
                "event": $('#input').val(),
                "date": $('#date').val(),
                "description": $('#description').val(),
                "questions": [{"id": 0, "text": $('#question').val()}],
                "answers": [{
                    "question_id": 0,
                    "responses": [{
                        "text": $('#good-res').val(),
                        "next_event_title": $('#good-event').val(),
                        "type": "good"
                    },
                        {
                            "text": $('#bad-res').val(),
                            "next_event_title": $('#bad-event').val(),
                            "type": "bad"
                        }]
                }],
                "tag": "real",
                "next_ids": [],
                "previous_ids": []
            }),
            processData: false,
            success: function (data, textStatus, jQxhr) {
                window.location = 'http://192.168.0.193:8080/question_creator?event_title=' + data["next_event_title"];
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
</script>
</html>