<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The biggest game ever</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>


<body class="text-center">
<div class="bg-light p-3 container" style="border-radius: 10px;width: 50%; margin-top: 5%;">

    <h4>Crée une question</h4>
    <br>

    <div>
        <div class="form-group">
                <label for="exampleFormControlSelect1">Thème</label>
                <select id="theme" class="form-control">
                </select>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Titre de l'évènement</label>
            <input id="title" placeholder="Titre de l'évènement" value="{{event_title}}">
            <small id="emailHelp" class="form-text text-muted">Titre de l'évènement</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Date de l'évènement</label>
            <input id="date" type="number" placeholder="Date" class="form-control">
            <small id="emailHelp" class="form-text text-muted">L'année où l'évènement a eu lieu.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Description de l'évènement</label>
            <textarea id="description" placeholder="Résumé" style="width:400px"></textarea>
            <small id="emailHelp" class="form-text text-muted">Une brève description de l'évènement</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Question</label>
            <textarea id="question" placeholder="Question" style="width:400px"></textarea>
            <small id="emailHelp" class="form-text text-muted">Question sur l'évènement</small>
        </div>

        <div>
            <a>Réponse A</a>
            <div class="form-group">
                <label for="exampleInputEmail1">Réponse</label>
                <input id="good-res" placeholder="Réponse A (bonne)">
                <small id="emailHelp" class="form-text text-muted">Réponse "normale"</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Solution</label>
                <textarea id="good-solution" placeholder="Message affiché si cette réponse est choisie"></textarea>
                <small id="emailHelp" class="form-text text-muted">Description de la solution</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Evènement suivant</label>
                <input id="good-event" placeholder="Titre du l'évènement suivant évènement">
                <small id="emailHelp" class="form-text text-muted">Titre de l'évènement</small>
            </div>

            <br>
            <br>
            <a>Réponse B</a>
            <div class="form-group">
                <label for="exampleInputEmail1">Réponse</label>
                <input id="bad-res" placeholder="Réponse B">
                <small id="emailHelp" class="form-text text-muted">Autre réponse</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Solution</label>
                <textarea id="bad-solution" placeholder="Message affiché si cette réponse est choisie"></textarea>
                <small id="emailHelp" class="form-text text-muted">Description de la solution</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Evènement suivant</label>
                <input id="bad-event" placeholder="Titre du l'évènement suivant évènement">
                <small id="emailHelp" class="form-text text-muted">Titre de l'évènement</small>
            </div>

        </div>

    </div>
</div>
<br>
<div>
    <button class="btn btn-primary" onclick="submit_event()">
        Submit
    </button>
</div>

</body>
<script>
    get_themes()

    function get_themes(){
        $.get("http://35.238.231.226:8080/get_themes", function (data, textStatus, jQxhr) {
           var dropdown_question = document.getElementById("theme");
            for (i = 0; i < data.length; i++) {
                var text = data[i]["theme"];
                var option = document.createElement("option");
                option.innerText = text;
                dropdown_question.appendChild(option)
            }
        });
    }

    function submit_event() {
        $.ajax({
            url: 'http://35.238.231.226:8080/new_event',
            dataType: 'json',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify({
                "theme": $('#theme').val(),
                "event_title": $('#title').val(),
                "date": $('#date').val(),
                "description": $('#description').val(),
                "questions": [{"id": 0, "text": $('#question').val()}],
                "answers": [{
                    "question_id": 0,
                    "responses": [{
                        "text": $('#good-res').val(),
                        "next_event_title": $('#good-event').val(),
                        "solution": $('#good-solution').val(),
                        "type": "good"
                    },
                        {
                            "text": $('#bad-res').val(),
                            "next_event_title": $('#bad-event').val(),
                            "solution": $('#bad-solution').val(),
                            "type": "bad"
                        }]
                }],
                "tag": "real",
                "next_ids": [],
                "previous_ids": []
            }),
            processData: false,
            success: function (data, textStatus, jQxhr) {
                window.location = 'http://35.238.231.226:8080/question_creator?event_title=' + data["next_event_title"];
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
</script>
</html>