<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The biggest game ever -- THE QUIZ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>


<body class="text-center">
<div style="height:200px"></div>
<div>
    <h4 id="question"></h4>
</div>

<br>
<div id="answers">

</div>

<br>
<div id="solution">

</div>

</body>
<script>

    get_question(0, 0)
    var current_question = 0;
    var response_id = 0;
    var question_id = 0;
    var question = document.getElementById("question");
    var answers = document.getElementById("answers");
    var solution = document.getElementById("solution");

    function clearQuestion() {
        question.innerText="";
        answers.innerHTML="";
    }

    function displaySolution(e) {
        clearQuestion();
        var next_event_id = e.srcElement.id;
        var response_id = e.srcElement.name;
        var value = e.srcElement.value;
        var solution_text = value;

        solution.innerText = solution_text;
        var button = document.createElement("button");
        button.innerText = "Continue";
        button.setAttribute("class", "btn btn-success");
        button.addEventListener("click", function (e) {
            get_question(next_event_id, response_id)
        })
        solution.appendChild(document.createElement("br"))
        solution.appendChild(button)
    }

    function get_question(current_event, response_id) {
        $.get("http://192.168.0.193:8080/get_next_question?question_id=0&current_id=" + current_event + "&response_id=" + response_id, function (data, textStatus, jQxhr) {

            var question_text = data["questions"][0]["text"];
            solution.innerHTML="";

            question.innerText = question_text;

            for (i = 0; i < data["answers"][0]["responses"].length; i++) {
                var answer = data["answers"][0]["responses"][i]
                var response_div = document.createElement("div")
                var button = document.createElement("button")
                button.innerText = answer["text"]
                button.setAttribute("next-id", answer["next_event_id"])
                button.setAttribute("class", "btn btn-primary")
                button.setAttribute("id", answer["next_event_id"])
                button.setAttribute("value", answer["solution"])
                button.setAttribute("name", i)
                // button.setAttribute()
                button.addEventListener("click", function (e) {
                    displaySolution(e)
                });
                response_div.appendChild(button)
                answers.appendChild(response_div)
                answers.appendChild(document.createElement("br"))

            }

        });
    }

    function submit_event() {
        $.ajax({
            url: 'http://192.168.0.193:8080/submit_event',
            dataType: 'json',
            type: 'post',
            contentType: 'application/json',
            data: JSON.stringify({
                "event": $('#input').val(), "date": $('#date').val(), "tag": "real",
                "event1": event1, "event2": event2
            }),
            processData: false,
            success: function (data, textStatus, jQxhr) {
                window.location = 'http://192.168.0.193:8080/';

            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
    }
</script>
</html>